{% load static %}
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row" style="height: 550px;">
            <form method="post">
                {% csrf_token %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="{% static 'nprh/images/111.png' %}" style="height: 500px; width: 100%;">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <h1 style="text-align: center;">Login Form</h1>

                    <input type="text" class="form-control" name="username" placeholder="username" required="required"
                        style="width: 80%; height: 40px;">
                    <br><br>

                    <input type="password" class="form-control" name="password" placeholder="Password"
                        required="required" style="width: 80%; height: 40px;">

                    <input type="checkbox" checked="checked" name="Remember"><span>Remember Password</span>
                    <br>
                    <div>
                        <p style="color: black;">If you are not register, <a href="/userregister/register">Register
                                here</a></p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" style="width: 80%; height: 40px;">
                        Login
                    </button>
                    <hr class="my-4">

                    <button class="btn btn-primary" style="background-color: #dd4b39; width: 80%;" type="button"><i
                            class="fab fa-google me-2"></i> Sign in with google</button>
                    <br><br>
                    <button class="btn btn-primary mb-2" style="background-color: #3b5998; width: 80%;" type="button"><i
                            class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
                </div>
        </div>
        </form>
    </div>
    </div>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

</body>

</html>