{% load static %}
<html>

<head>
   <title>Explore</title>

</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
   .row {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }

   #a {
      background-color: #AED6F1;
      height: 80px;
      border: 2px solid black;
   }

   #b {
      color: black;
      text-align: center;
   }

   #c {
      width: 100%;
      height: 200px;

   }

   #d {
      color: darkblue;
   }

   #e {
      text-align: justify;
   }

   #f{
      font-size: 50px;
      color: black;
   }

   .class-1 {
            border-top: 2px solid #8c8b8b;
        }
</style>

<body>
   <div class="row">
      <div class="col-lg-12" id="a">
         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="/nprh/">
            <h5 class="fa fa-home" id="f"></h5>
            </a>
         </div>
         <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <h2 id="b"><em><u><b>POPULAR PLACES</b></u></em></h2>
         </div>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
         <img src="{% static 'nprh/images/2.jpg' %}" id="c">
      </div>
      <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>LADAKH</b></h3>
         <p id="e">
            Ladakh is one of the three major regions in the state of Jammu and Kashmir.Ladakh was divided into two
            districts in 1979: Kargil and Leh.The Kargil district has a predominant Muslim (76.87%) population.The Leh
            district has 66.40% Buddhist population.The principal language of Ladakh is Ladakhi.Ladakhi has no
            distinctive script, writers use Tibetan script to write the spoken language.Ice hockey is the most popular
            sport in Ladakh.Ice hockey in Ladakh is played from mid-December to mid-February, only on natural
            ice.Cricket, Archery, and Polo are some other popular sports in the region.The Indus River is the backbone
            of the Ladakh region.
         </p>
      </div>
   </div>
   <hr class="class-1">

   <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <br><img src="{% static 'nprh/images/4.jpg' %}" id="c"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>KERALA</b></h3>
         <p id="e">
            Kerala is one of the most beautiful places in the world. Its sobriquet of God's Own Country is well
            deserved. The entire expanse of Kerala is blessed with beauty, unmissable attractionsKerala is famous for
            its unique geography, tranquil backwaters, unspoiled beaches, art forms and spices. It is also famous for
            its charming houseboats, sprawling tea plantations, unique eco-tourism, magnificent architecture, Ayurvedic
            treatments and unforgettable culinary experiences.Munnar is considered one of the most beautiful tourist
            places in Kerala. Situated on the Western Ghats, Munnar is evidently one of the highest producers of tea on
            the Indian subcontinent.

         </p>
      </div>
   </div>
   <hr class="class-1">

   <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <br><img src="{% static 'nprh/images/9.jpg' %}" id="c"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>MANALI</b></h3>
         <p id="e">
            A gift of the Himalayas to the world, Manali is a beautiful township nestled in the picturesque Beas River
            valley. It is a rustic enclave known for its cool climate and snow-capped mountains, offering respite to
            tourists escaping scorching heat of the plains.It is a natural divide between the valleys of Kullu and
            mountains of Lahaul and spiti. It attracts tourist with beautiful views and fresh snow. Here you can enjoy
            adventure activities such as skiing, skating, paragliding, snow scooter and more. Best time to visit Rohtang
            pass is in Summer.

         </p>
      </div>
   </div>
   <hr class="class-1">

   <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <br><img src="{% static 'nprh/images/3.jpg' %}" id="c"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>GOA</b></h3>
         <p id="e">
            Goa is famous for adventure water sports, Goa offers the best water sports and other adventures sports such
            as scuba diving, paragliding, parasailing, banana boat riding and snorkelling. 5) MOUTHWATERING FOODS AT
            BEACH SHACKS: Most of Goa's beaches are outlined with shacks most of the year.Goan food is considered
            incomplete without fish, Rice and fish-curry is the staple of most Goans. Taste it once and you will know
            why! Kingfish (Vison or Visvan) is the most common delicacy. Others include Pomfret, Shark, Tuna and
            Mackerel.

         </p>
      </div>
   </div>
   <hr class="class-1">

   <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <br><img src="{% static 'nprh/images/1.jpg' %}" id="c"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>RISHIKESH</b></h3>
         <p id="e">
            Rishikesh is primarily famous for its spiritual importance. There are a number of Yoga Ashramas for
            practicing meditation. Rishikesh is the beginning of the famous Char Dham Yatra (Gangotri, Yamunotri,
            Kedarnath, Badrinath).It is known as the pilgrimage town and regarded as one of the holiest places for
            Hindus. Hindu sages and saints have visited Rishikesh since ancient times to meditate in search of higher
            knowledge. Rishikesh is the world famous yoga center. Lakshman Jhula, Vashishtha Cave and Nilkanth Mahadev
            Temple are the main tourist destinations of Yeha. There are a lot of attractions for the tourists here.

         </p>
      </div>
   </div>
   <hr class="class-1">

   <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <br><img src="{% static 'nprh/images/8.jpg' %}" id="c"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
         <h3 id="d"><b>RAJASTHAN</b></h3>
         <p id="e">
            Rajasthan is renowned for its imposing olden forts and gorgeous palaces, people generally tend to overlook
            these beautiful Jain temples at Ranakpur, which are quite well-hidden in a dark forest on the banks of the
            Maghai River.One of the most colourful states in India, Rajasthan is blessed with landscapes of thick
            forests and sandy deserts, majestic man made creations, flourishing flora and fauna and a history that no
            other culture can match.
         </p>
      </div>
   </div>


</body>

</html>