{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>our insight support</title>
	  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<style>
		#f {
			font-size: 45px;
			color: black;
			margin-top: 20px;
			padding-top: 20px;
		}
	</style>
</head>
<body>

	<div class="container-fluid">
		<div class="col-lg-4 col-md-4">
			<a href="/nprh/">
				<h5 class="fa fa-home" id="f"></h5>
			</a>
		</div>
	     <div class="row">
		 	<div class="col-lg-12" style="text-align:center;"><h3>OUR INSIGHT SUPPORT ARE -></h3></div>

		 	<div class="col-lg-6">@etech institute</div>
		 	<div class="col-lg-6">@techvulcan</div>
		 </div>

		 <div class="col-lg-12"><h5>The Other Services (except Public Administration) sector comprises establishments engaged in providing services not specifically provided for elsewhere in the classification system. Establishments in this sector are primarily engaged in activities such as equipment and machinery repairing, promoting or administering religious activities, grantmaking, advocacy, and providing drycleaning and laundry services, personal care services, death care services, pet care services, photofinishing services, temporary parking services, and dating services. Private households that engage in employing workers on or about the premises in activities primarily concerned with the operation of the household are included in this sector. Excluded from this sector are establishments primarily engaged in retailing new equipment and also performing repairs and general maintenance on equipment. These establishments are classified in Sector 44-45, Retail Trade.</h5></div>

		 <div class="col-lg-12" style="text-align:center"><img src="{% static 'nprh/images/insight.jpg' %}" height="300px" width="50%"></div>
	</div>

</body>
</html>