{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>local transport</title>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   #f {
      font-size: 45px;
      color: black;
    }
</style>
</head>
         <body>
               <div class="container-fluid">

               	<div class="row">
                                               
                               <div class="col-lg-6" style="text-align:left;">
                                 <a href="/nprh/">
                                    <i class="fa fa-home" id="f"></i>
                                  </a>
                              </div>                   
                                              
               	      <div class="col-lg-12" style="border:2px solid black;">
               	 	          <div class="col-lg-12" ><h1 style="text-align:center">LOCAL TRANSPORT</h1></div>
                               
                               <div class="col-lg-12"><p >India is a country where the crowds are relentless. It takes great time, patience, and determination to understand how to travel using local transport. There are a plethora of options available when it comes to traveling locally, including traversing by buses, cycle-rickshaws, auto-rickshaws, e-rickshaws, tempos, taxis, boats, tongas, metros, and urban trains. Traveling in India is embracing the adventure as it comes, no matter how big or small!</p>

                               	<h5 style="font-size: 15px; background-color: gray; color:black">Here is a short summary of transportation options to help guide your way:</h5>
                               </div>
                                    <hr>
                               <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/auto.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>
                                       <div class="col-lg-12">
                                           <h1>Auto Rickshaw, E-rickshaw, and Tempo</h1>

                                           <p>The quintessential local transport of India is a tuk-tuk, a three-wheeled motorized vehicle with a tin or canvas roof that occupies two passengers and limited luggage. Also called an auto rickshaw, this is an inexpensive and fun way to get around town. They are also the most convenient form of transport in urban areas. Some auto rickshaws run on meters; however, to avoid a hassle, agree on a price before you start your ride. </p>

                                           <p>In some urban cities, you may find environmentally friendly rickshaws that are shared by passengers and are comparatively cheaper. The E-rickshaws are called totos in the Northeast Indian states.</p>


                                           <p>Vikrams are spacious outsized autorickshaws that can accommodate more passengers with fixed routes and fares. You can also find a tempo (minivan) that can carry a dozen passengers from one place to another.   </p>

                                        </div>

                                        <hr>
                                        <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/taxi.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>

                                            <div class="col-lg-12">
                                            	 <h1>Taxis</h1>
                                            	 <p>Taxis are typically more expensive than auto rickshaws, but in cities like Mumbai and Kolkata, they are iconic. The classic taxis are reminiscent of the British Era, offering a picture-perfect memory!</p>

                                            	 <p>There are taxis running on meters that calculate fares on a combination of meter reading and a complicated fare adjustment card. Major airport and train stations also have pre-paid taxis. Here you can book a taxi even for long-distance at fixed prices. India also has a variety of ride-hailing taxis available with the most popular choice being Ola and Uber. It is cheaper and also offers the benefit of entering the exact location of your destination without language barriers. However, downloading the app will require an Indian number. These apps also come in handy to check the prices before hailing the local transport.</p>

                                            </div>

                                            <hr>

                                            <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/buses.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>

                                            <div class="col-lg-12">
                                            	<h1>Buses</h1>

                                            	<p>Buses certainly provide a very local Indian experience! For long journeys, you can book a private bus on an app called Redbus. You can also reserve a seat with a local travel agency. Government buses are cheaper options, offering non-sleeper buses with regular seats. You can watch daily life go by from the window seats while traveling on these buses. Tickets can be bought directly from the bus stations.</p>
                                            </div>


                                               <hr>
                                            <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/train.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px grey;" ></div>


                                            <div class="col-lg-12">
                                            	<h1>Trains</h1>
                                            	<p>India has a circulatory rail network and is the fastest mode of transport to travel from one part of the country to another. Your rail experience depends on the destination, how much you pay, and at what time you will board the train. </p>

                                            	<p>For long-distance trips, we recommend you reserve a higher class such as the AC1 or AC2. These compartments are air-conditioned and provide amenities like fold-down beds, pillows, and blankets. The doors are lockable and, depending on your group size, can convert to private cabins. They also have power points for charging your electronic devices. </p>

                                            	<p>Timetables, seat availability, and live updates are available on apps like IRCTC, the official app of Indian Railways. Booking tickets online is beneficial as it removes the language barrier and is easy to use. </p>
                                            </div>

                                               <hr>
                                             <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/metro.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>

                                             <div class="col-lg-12">
                                             	<h1>Metro Systems</h1>

                                             	<p>Metro Systems are available in the megacities of India and offer an inexpensive and efficient transport option. We love the Delhi Metro, as it can take you to almost every tourist site, shopping mall, and neighborhood in India’s vast capital. The Metros also have female only carriages, depicted with pink signage. </p>

                                             </div>


                                             <hr>



                                               <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/bullet.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>


                                               <div class="col-lg-12">
                                               	<h1>Motorbikes and Scooters</h1>

                                               	<p>Motorbikes are available for hire if you have ample time and wish to travel adventurously at your own pace. The chilly and mountainous destinations of North India like Ladakh and Spiti Valley are best explored on the cool Royal Enfields. Scooters can also be rented to explore places like Goa and Pushkar.</p>
                                               </div>

                                               <hr>
                                                <div class="col-lg-12" style=" text-align: center; "><img src="{% static 'nprh/images/boat.jpg' %}" height="300px" width="40%" style="border:20px solid white;box-shadow: 0px 0px 10px green;" ></div>

                                               <div class="col-lg-12">
                                               	<h1>Boats</h1>
                                               	<p>There are various kinds of local boats available in India. The Shikaras, beautifully decorated wooden boats, are an iconic part of Kashmir. These boats are only found in Srinagar and are a major tourist attraction, commonly used for sightseeing. Shikaras are painted with bright colors and are an amazing way to explore the peace and serenity of Dal and Nagin Lakes.  </p>

                                               	<p>In Kerala, traditional houseboats offer travelers day and overnight trips on the backwaters. The kettuvallam or ‘boat with knots’ is held together with coir knots only - not a single nail is used during the construction. </p>

                                               	<p>Local boats are available on the holy Ganges River, providing sunrise and sunset views of the ghats and Aarti ceremony. Boutique luxury river cruisers also welcome guests for overnight or multi-day sailings on the Ganges.</p>
                                               </div>


                               

               	      </div>
                  </div>

                 </div>
         </body>
</html>