<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>medical</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
    #f {
      font-size: 45px;
      color: black;
    }
   </style>
</head>
<body >
     
     <div class="container">
     	 <div class="row"  >

           <div class="col-lg-12">  
            <a href="/nprh/">
                <i class="fa fa-home" id="f"></i>
              </a>
        </div>
            
            <div  class="col-lg-12" style="background-color: grey;border: 2px solid black; ">     		  
                  <div class="col-lg-12" >
     	     
     	      	<div  class="col-lg-6"><h1 style="margin:200px ; font:italic; font-size: 70px;"><u><b>Best Travel Medical Insurance Coverage</b></u></h1></div>
     		      <div class="col-lg-6" style="margin-top:110px ; border-radius: 50%;"><img src="{% static 'nprh/images/Medical.jpg' %}" style="border-radius: 30px;" ></div>

     		  </div>
     		        <div class="col-lg-12"> 
     		        	   <p>If you want to enjoy peace of mind while traveling, you need to purchase travel medical insurance beforehand. This will protect you in case of  emergency for you and any companion  travelers. And in this article, we’re going to share the 3 best travel medical insurance policies with you.

                     These plans provide emergency medical coverage for travelers who are leaving their home country. They cover medical emergencies and emergency evacuations. Your health insurance from    
                     home might not cover you abroad – which is why this is such an important consideration. You need to have travel medical coverage when going abroad.

                     Not only are we going to unveil the 3 best travel medical insurance plans currently available. But, we’re also going to cover everything you need to know about this type of plan in general, including:</p>

                     <ul style="color: #a3c1ad;">
                      	<li>Why it is essential</li>
                      	<li>What the benefits are</li>
                      	<li>What exactly is covered</li>
                      	<li>How it works</li>
                      	<li>What it costs</li>
                      	<li>How to get your plan set up</li>
                     </ul>
                </div>

                <!----------------The Three Best Travel Medical Insurance Plans--------------->

                <div class="col-lg-12"><h3><u><b>The Three Best Travel Medical Insurance Plans</b></u></h3>
                	<hr>
                         <p>We have three plans we’re going to discuss – but the ideal pick for you will depend on a number of factors, including your trip destination, desired coverage, age, and more. With that said, I recommend Seven Corners for your travel medical insurance plan. They have specialized in this coverage since 1993, insuring thousands of international travelers every year. Here is why they’re so great:</p>
                         <div class="col-lg-4"></div>
                        
                            	<!--........-->
                            	 <div class="col-lg-4" style="box-shadow:0px 0px 1px red; background-color: #e5e4e2;margin-left: 60px; height: 300px;">
                    	        <div class="col-lg-4" ><img src="{% static 'nprh/images/medical1.jpg' %}" height="100px" ; width="50%"> <br><br> <br><input type="button" value="book-now" style=" color:#a3c1ad"></div>
                    		      <div class="col-lg-8"><h5>Best Plan for Most Travelers – saini Travel Medical</h5>
                               <li>Optional Covid coverage if you opt for the Liaison Plus plan</li>
                               <li>Available to US travelers going abroad</li>
                               <li>Available to international travelers traveling abroad (including USA)</li>
                               <li>Several options for medical coverage limit</li>
                               <li>Available for groups</li>

                    		      </div>
                    		      <!--..........-->
                        </div>
                        <div class="col-lg-4"></div>


                </div>

                <div class="col-lg-12"> <h2><u><b>Key benefits of Liaison Travel Medical include:</b></u></h2>
                  <li>Designed for all travelers so it’s easy to buy: It can cover trips as short as 5 days, and as long as 364 days. US citizens can use it abroad. International travelers can visit the US. And international travelers can visit internationally.</li>
                  <li>Designed for all ages to anyone can buy: Covers travelers as young as 14 days old, and up to 99 years old.</li>
                  <li>Can be extended which gives you flexibility: If your plans change, you can extend your coverage up to 364 days.</li>
                  <li>Choose your coverage limit let’s you find the right plan for your budget: With medical limit options from $50,000 to $1,000,000 (depends on age) there’s a plan for every budget</li>
              </div>

               <hr>


                	<!-------for student--------->


                	 <div class="col-lg-12"><h3><u><b>Best Plan for Students</b></u></h3>
                	 	<hr>
                         <p>We have three plans we’re going to discuss – but the ideal pick for you will depend on a number of factors, including your trip destination, desired coverage, age, and more. With that said, I recommend Seven Corners for your travel medical insurance plan. They have specialized in this coverage since 1993, insuring thousands of international travelers every year. Here is why they’re so great:</p>
                         <div class="col-lg-4"></div>
                        
                            	<!--........-->
                            	 <div class="col-lg-4" style="box-shadow:0px 0px 1px red; background-color: #e5e4e2;margin-left: 60px; height: 300px;">
                    	       <div class="col-lg-4" ><img src="{% static 'nprh/images/medical4.jpg' %}" height="100px" ; width="80%" style="opacity: 5px;border-radius: 500px;"> <br><br> <br><input type="button" value="book-now" style=" color:#a3c1ad"></div>
                    		      <div class="col-lg-8"><h5>Best Plan for Most Travelers – saini Travel Medical</h5>
                               <li>Optional Covid coverage if you opt for the Liaison Plus plan</li>
                               <li>Available to US travelers going abroad</li>
                                <li>Available to international students traveling abroad (including USA)</li>
                               <li>Several options for medical coverage limit</li>

                    		      </div>
                    		      
                        </div>
                        <div class="col-lg-4"></div>
                      </div>
                     
                       <div class="col-lg-12">
                              <h2><u><b>You may buy a student insurance plan for yourself, your spouse and dependents if you are:</b></u></h2>

                             <li>A full-time student, faculty member, or scholar;</li>
                             <li>Involved in full-time educational or research activities;</li>
                             <li>Traveling outside your home country; and</li>
                             <li>At least 12 years old and younger than 65 years of age</li>


                       
                      <h1><u>Key benefits of Liaison Student Travel Medical include:</u></h1>   

                      <li>Choose your coverage limit let’s you find the right plan for your budget: With medical limit options from $50,000 to $1,000,000 (depends on age) there’s a plan for every budget</li>
                      <li>Online quote and purchase so it’s less stress for you: Their website makes choosing a plan, selecting coverage, and checking out very simple so you can get insured stress-free.</li>  
                       </div>
                     

                        <!--....for USA......-->



                <div class="col-lg-12"><h3><u><b>Best Plan for Visitors to the USA</b></u></h3>
                	<hr>
                       
                         <div class="col-lg-4"></div>
                        
                            	<!--........-->
                            	 <div class="col-lg-4" style="box-shadow:0px 0px 1px red; background-color: #e5e4e2;margin-left: 60px; height: 300px;">
                    	        <div class="col-lg-4" ><img src="{% static 'nprh/images/medical5.jpg' %}" height="100px" ; width="80%" style="opacity: 5px;border-radius: 500px;"> <br><br> <br><input type="button" value="book-now" style=" color:#a3c1ad"></div>
                    		      <div class="col-lg-8"><h5>Best Plan for Most Travelers – saini Travel Medical</h5>
                               <li>Designed for long-term visitors to the USA</li>
                               <li>Available to Non-US citizens visiting the United States</li>
                               <li>Available to Non-US residents visiting the United States)</li>
                               <li>Several options for medical coverage limit</li>
                               

                    		      </div>
                    		      <!--..........-->
                        </div>
                        <div class="col-lg-4"></div>


                </div>
                 <div class="col-lg-12"><h2><u><b>Key benefits of Explore North America Plus include::</b></u></h2>
                  <li>Perfect for parents visiting the USA long-term: Your visiting family members can enjoy US healthcare while visiting you in the United States.</li>
                  <li>Choose your coverage limit let’s you find the right plan for your budget: With medical limit options from $50,000 to $1,000,000 (depends on age) there’s a plan for every budget.</li>
                  <li>Online quote and purchase so it’s less stress for you: Their website makes choosing a plan, selecting coverage, and checking out very simple so you can get insured stress-free..</li></div>
                
                	





         </div>
     </div>

    </div>
 

</body>
</html>