<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scope</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #p-3 {
      font-size: 50px;
      color: black;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row" style="margin:10px ; ">
      <div class="col-lg-12"
        style="border:2px solid black;background-color: #ffcccb;box-shadow: 0px 0px 1px Maastricht Blue;">

        <div class="col-lg-12">
          <div class="col-lg-4 col-md-4">
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
              <a href="/nprh/">
                <i class="fa fa-home" id="p-3"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <h1>-:SCOPE:-</h1>
          </div>

          <div class="col-lg-6">
            <li> This policy applies to all our employees. In this policy, we refer to ‘travel’ meaning a business trip
              to a different city than the one you’re in. We’re also counting any car, train or bus trip that lasts
              longer than an hour.</li>
          </div>
          <div class="col-lg-6">
            <li>This policy doesn’t refer to traveling to and from the office on a daily basis for work. We reimburse
              commute expenses based on each employee’s contract or agreement with our company.</li>
          </div>



          <div class="col-lg-12">
            <h3 style="text-align:center">Travel and Tourism Industry</h3>
          </div>
          <div class="col-lg-12">
            <p>The term ‘travel and tourism’ is used to describe a group of industries and organization whose sole
              purpose is to help the travellers and tourists have their dream vacation. Individually, travel defines a
              movement from one point to another. Tourism, however, is used to define a journey to another place as well
              as accommodation for not more than 12 months. Since tourism and travel are branches of the same tree, we
              use the term ‘travel and tourism’ to describe the industry as a whole. Since India has been greatly
              developing in the sector of travel and tourism, the travel and tourism scope in India is quite broad. With
              modes of travel in the form of cruises, flights, cars, and even trains, as well as tourism industries in
              eco-tourism, medical tourism, wellness tourism, etc, there is a huge requirement for skilled professionals
              in this field. </p>
          </div>

          <hr>

          <div class="col-lg-6" style="text-align:center"><img src="{% static 'nprh/images/scope_1.jpg' %}" height="200px" ; width="50%">
          </div>
          <div class="col-lg-6">
            <p>There’s nothing quite like an adventure in the mountains, being surrounded by nature’s giants. The
              achievement of reaching the summit, the epic views along the way, the feeling of weightlessness as you ski
              down, the sense of awe as you are immersed amongst the wilderness.</p>

          </div>
          <div class="col-lg-12" style="text-align:center"><img src="{% static 'nprh/images/scope_2.jpg' %}" height="200px" ; width="30%">
          </div>

          <div class="col-lg-12">
            <h3 style="text-align:center;">Travel Agency</h3>
            <p>A travel agency is simply an organization that acts as an intermediary or agent between the service
              supplier and the tourist. The suppliers can be airlines, hotels, tour providers, etc. It is the first
              point of contact for a traveller to plan a trip. Travel agencies focus on providing a hassle-free
              experience for their customers. Travel agencies provide customers with various packages and options to
              choose from. These packages, are usually created by a tour operator. Unlike tour operators, a travel
              agency has a wider range of destinations and provides the best deals and options. </p>


            <li>Inbound tourism - tourists coming into India from other countries.</li>
            <li>Outbound tourism - people wanting to go out of the country to visit other countries.</li>
            <li>Domestic tourism - tourists who want to visit other parts of the same country. </li>

            <p>The major services offered by travel agencies include flight ticketing, booking accommodation, itinerary
              planning, travel insurance, foreign exchange, as well as providing key travel information. Some of the
              positions in this organization include - </p>

            <ul>Travel agent</ul>
            <ul>Travel consultants</ul>
            <ul>Travel insurance consultant</ul>
          </div>

          <div class="col-lg-12">
            <h3 style="text-align:center">Tour Operators</h3>
            <p>These are the organizations that combine the tour and travel to provide customers with various tour
              packages. Usually, tour operators sell directly to customers, or to other travel agencies. Since they are
              in direct contact with the product suppliers, they acquire the products and services from them, and then
              create their own unique package and sell it at a mark-up price. The types of tour operators include - </p>

            <div class="col-lg-6" style="text-align:center"><img src="{% static 'nprh/images/scope_3.jpg' %}" height="200px" ; width="50%">
            </div>
            <div class="col-lg-6">
              <ul>
                <li>Inbound - deal with packages for tourists visiting the home country.</li>
                <li>Outbound - Providing packages for people visiting foreign countries.</li>
                <li> Domestic - Packages for the tourists visiting other parts within the country.</li>
                <li>Ground - Provides ground services such as accommodation, sightseeing, a guide to the tourists.</li>
              </ul>

              <div class="col-lg-12" style="text-align:center"><a href="tel:8470881507" class="fa fa-phone"
                  style="font-size:25px"> contact to operators</a></div>

            </div>
            <br>
            <br><br>



          </div>


          <div class="col-lg-12">
            <h3>Tourism Department</h3>
            <p>The tourism department, also known as the Ministry of Tourism is a government organisation that governs
              over the tourism industry in the country. From policies and regulations to planning, publicity and
              marketing, as well as ticketing, they look after the tourism-related interests of the country. There are
              state-level ministries, as well as national level ministry. Apart from the higher officials and minister,
              the other roles in the tourism department includes- </p>

            <li>Tour guides</li>
            <li>Public relations manager </li>
            <li>Sales and marketing staff</li>
          </div>



          <div class="col-lg-12" style="text-align:right;"><a class="fa fa-thumbs-up"> like if ur satisfied</a></div>
        </div>


      </div>

    </div>
  </div>


</body>

</html>