<!DOCTYPE html>
{% load static %}
<html>

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Policy Element</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
          #p-3 {
               font-size: 50px;
               color: black;
          }
     </style>
</head>

<body>

     <div class="container">
               <div class="col-lg-12 col-md-12 col-sm-3 col-xs-4">
                    <a href="/nprh">
                         <i class="fa fa-home" id="p-3"></i>
                    </a>
               </div>

               <div class="col-lg-12" style="border: 2px solid black;background-color:#ffcccb">
                    <h1 style="text-align:center">-:Policy elements:-</h1>

                    <img src="{% static 'nprh/images/policy_2.jpg' %}" height="300px" ; width="100%">

                    <p>Business travel policies are put in place to make sure an employee of a business have a clear
                         understanding of their entitlements and requirements when travelling. Policies are put in place
                         for a few of the following reasons:</p>


                    <li>To safeguard the wellbeing, comfort, safety, and security of employees</li>
                    <li>Consolidate expenditure to obtain discounted rates</li>
                    <li>Communicate commitments to sustainability and environmental issues</li>
                    <li>Secure the highest level of service at lowest possible cost</li>

                    <h1>our Travel policies usually cover the following components</h1>

                    <h3>1. Spend Regulation</h3>

                    <p>When employees are booking travel, businesses will be looking to regulate the amount they spend.
                         There are a few obvious reasons behind regulation of spending, the first and most obvious being
                         the financial cap. A business no matter how big or small does not want to be running up
                         high-cost bills on first class travel and accommodation when it’s not needed. A spending cap
                         will also teach employees to be more economical with their travel as having a budget to stick
                         to will encourage people to search for the best deals.

                         On the flip side of this a budget will also let the employee know what limits they are confined
                         to. For example, if an individual is quite cost efficient with their travel and they have
                         budget left they may upgrade their travel to first class or a more comfortable hotel.</p>

                    <h3>2. Time of Travel Restrictions</h3>

                    <p>Travel time restrictions are usually put in place to safeguard the employee. You will often find
                         that cheaper travel options, especially trains, are cheaper off-peak. This means after the
                         daily rush of people, tickets are offered at a lower price. However, concerns can arise when
                         safeguarding is an issue. For example is a train ticket is cheaper at 11pm this could affect
                         the employee’s safety considerably as opposed to travelling at 4pm. This is the reason travel
                         time restrictions are put into place.</p>

                    <h3>3. Class Restrictions</h3>

                    <p>Class restrictions are pretty self explanatory. Reverting back to spend regulation we can clearly
                         see that employees may want to restrict certain classes to save money. First class upgrades are
                         usually up to 200% the price of a standard ticket and if a business wants to get an employee
                         from A to B the cheapest and safest way they may place a class restriction on the booking
                         policy. We can also look at this in a different light. For example if a company director is
                         promised to travel first class as part of their job perk then all lower class tickets may be
                         restricted for ease of booking.</p>

                    <h3>4. Methods of Transport</h3>
                    <p>In a travel policy a company can decide whether to restrict or only allow certain types of
                         transport. They may want to do this for multiple reasons. For example they may want to restrict
                         the option to book travel by taxi and hire car because they believe their employees could find
                         more economical way to travel on something like public transport. Alternatively if a company
                         has a lot of long-haul destinations they may want to only allow certain types of transport like
                         flight to ensure a speedy journey.</p>

                    <h3>5. Time of Booking Restrictions</h3>
                    <p>In some travel policies there are restrictions when an employee can actually book their travel.
                         This means that if an employee was to book travel a few days before the journey instead of a
                         couple of week then this will affect how much the company has to pay. Companies will always be
                         looking for ways to save money when moving their employees about and booking early will count
                         towards that.</p>
               </div>
          </div>
     </div>

</body>

</html>