{% load static %}
 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<style>
		#f {
			font-size: 45px;
			color: black;
			margin-top: 20px;
			padding-top: 20px;
		}
	</style>
     <title>WORK</title>
 </head>
     <body>
           <div class="container-fluid">
               <div class="row" style="border:2px solid black;">
                <div class="col-lg-1 col-md-1">
                    <a href="/nprh/">
                        <h5 class="fa fa-home" id="f"></h5>
                    </a>
                </div>
                   <div class="col-lg-12">
                       <div class="col-lg-12" style="text-align:center"><h1>OUR WORK</h1></div>
                       <div class="col-lg-12"><h4 style="font: italic;">We tried, literally for years, we tried to keep it free for all to use. We could say it’s down to Captain Corona; that’s not the case but like Couch Surfing who have had to start charging, we too have to start charging because of our success.</h4></div>

                       <div class="col-lg-12" style="text-align:center"><img src="{% static 'nprh/images/working1.jpg' %}" height="400px" width="50%%"></div>


                       <div class="col-lg-12"><h3>Tourism is about visiting to places you're not familiar with, so tourists certainly need someone to guide them. For that reason, tourism information and guiding services are necessary in the tourism industry.</h3></div>

                       <div class="col-lg-12"><h3>I know how hard it can be, sitting at home or at work, browsing through social media seeing so many others living their best lives travelling across the globe. It seems like you could never live this life as, after all, you have bills to pay! </h3></div>

                       <div class="col-lg-12" style="text-align:center"><img src="{% static 'nprh/images/working2.jpg' %}" height="400px" width="50%"></div>

                       <div class="col-lg-12"><h3>A super fun and interactive way to get to know others - tour guiding is for those who have charm, charisma, and love to get out and about, sharing their passion for the place they live in.</h3></div>
                        <div class="col-lg-12"><h3>What's better is that you can make it completely your own. It could be walking tours, bike tours, scooter tours, running tours - you name it. You can also make the tours themed - perhaps a general day tour, a nightlife tour, a food & drink tour - the possibilities are endless.</h3></div>
                         <div class="col-lg-12"><h3>This type of job would mean living in a place long enough to know it well, but with every tour, you'll soak up even more knowledge than before, ready to wow your next group of tourists. You'll get to meet new people every day and discover things about your home that you never knew existed.</h3></div>
                          <div class="col-lg-12"><h3>The best way to get into this industry is to firstly, get to know the place you'll be guiding - walk it, cycle it, get the bus, meet the locals, just make sure you're familiar with your surroundings and whatever it is your theme is (do your research!).</h3></div>
                           <div class="col-lg-12"><h3>Secondly, seek out a local tour operator or hostel/hotel who are looking for tour guides. From there, you could potentially branch off on your own and start a business - but that's quite a big step so keep it simple to start with. </h3></div>

                   </div>
               </div>
           </div>
     </body>
 </html>